{
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "modules": true,
    "experimentalObjectRestSpread": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    // "indent": [ 2, 2 ],
    "quotes": [ 1, "single", "avoid-escape" ],
    "linebreak-style": [ 2, "unix" ],
    "semi": [ 2, "always" ],
    "prefer-const": 2,
    //# angular
    "angular/definedundefined" : 0,
    "angular/json-functions" : 0 ,
    "angular/document-service" : 0,
    "angular/timeout-service" : 0,
    "angular/log" : 0,
    "angular/window-service" : 0,
    "angular/typecheck-array": 0,
    // # custom:
    "no-global-assign": 0,
    "no-unsafe-negation": 0
  },
  "env": {
    "es6": true,
    "browser": true,
    "node" : true
  },
  "globals": {
    "angular": false,
    "_" : true
  },
  "extends": [
    "eslint:recommended",
    "angular"
  ],
  "plugins": [
    "angular"
  ]
}
