
/*!
   * easyFormViewer
   * Version 1.2.0
   * Author : Erwan Datin (MacKentoch)
   *Link: https://github.com/MacKentoch/easyFormGenerator
   * License : 2015 MIT
  */
  /*=========================================================
    fonts const
===========================================================*/
body {
  margin: 20px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.ta-scroll-window {
  margin-bottom: 16px; }

/**
 * formly fields css
 */
.formly-field {
  margin-bottom: 20px; }

.validation {
  position: absolute;
  font-size: .8em;
  color: #a94442; }

.formly-template-wrapper {
  position: relative; }

.error-messages {
  position: relative; }

.error-messages, .message, .validation {
  opacity: 1;
  transition: .3s linear all; }

.message {
  font-size: .8em;
  position: absolute;
  width: 100%;
  color: #a94442;
  margin-top: 2px; }

.error-messages.ng-enter.ng-enter-active,
.message.ng-enter.ng-enter-active,
.validation.ng-enter.ng-enter-active {
  opacity: 1; }

.error-messages.ng-enter,
.message.ng-enter,
.validation.ng-enter {
  opacity: 0; }

.error-messages.ng-leave,
.message.ng-leave,
.validation.ng-leave {
  opacity: 1; }

.error-messages.ng-leave-active,
.message.ng-leave-active,
.validation.ng-leave-active {
  opacity: 0; }


/*=========================================================
    fonts const
===========================================================*/
