
/*!
 * easyFormGenerator — step way — version
 * Version 1.1.0
 * Author : Erwan Datin (MacKentoch)
 *Link: https://github.com/MacKentoch/easyFormGenerator
 * License : 2015 MIT
*/
/*=========================================================
    colors const
===========================================================*/
/*=========================================================
    fonts const
===========================================================*/
/*=========================================================
    common
===========================================================*/
/*=========================================================
    common
===========================================================*/
body {
  padding-top: 50px;
  padding-bottom: 20px;
  height: 100%;
  background-color: #F2F2F2;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.margintop60px {
  margin-top: 80px; }

.margintop120px {
  margin-top: 120px; }

.vAlignMiddle {
  vertical-align: middle; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

/*=========================================================
    bootstrap overrides
===========================================================*/
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #0d87e9;
  border-color: #2196f3; }

/*correction bug sur theme bootstrap journal*/
.modal-backdrop {
  z-index: -1; }

.navbar-right {
  margin-right: 20px; }

textarea, textarea.form-control, input.form-control,
input[type=text], input[type=password], input[type=email],
input[type=number], [type=text].form-control, [type=password].form-control,
[type=email].form-control, [type=tel].form-control, [contenteditable].form-control {
  font-size: 13px; }

select, select.form-control {
  font-size: 13px; }

/*container to 100%*/
@media (min-width: 1200px) {
  .container {
    width: 100%;
    margin-right: 20px; } }

@media (min-width: 768px) {
  .container {
    width: 100%;
    margin-right: 20px; } }

@media (min-width: 992px) {
  .container {
    width: 100%; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto; }

.container-fluid padding {
  left: 30px;
  right: 30px; }

.panel-default > .panel-heading {
  color: #212121;
  background-color: #fff;
  border-color: #eee; }

.navbar-nav > li > a {
  line-height: 30px; }

.navbar-default .navbar-brand {
  line-height: initial; }

.panel-heading {
  background-color: none;
  border-bottom: solid 1px #eee; }

.navBtnGroup {
  padding-top: 20px;
  padding-bottom: 22px;
  padding-right: 15px;
  padding-left: 15px; }

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle; }

a:hover {
  color: #fff; }

a:focus {
  color: #fff; }

/*Forms setup*/
.form-control {
  border-radius: 0;
  box-shadow: none;
  height: auto; }

.float-label {
  font-size: 10px; }

.socialIcon {
  font-size: 32px; }
  .socialIcon:hover {
    color: #F2F2F2; }

input[type="text"].form-control,
input[type="search"].form-control {
  border: none;
  border-bottom: 1px dotted #CFCFCF; }

textarea {
  border: 1px dotted #CFCFCF !important;
  height: 130px !important; }

/*Content Container*/
.content-container {
  background-color: #fff;
  padding: 35px 20px;
  margin-bottom: 20px; }

h1.content-title {
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif !important; }

/*paper them bootstrap*/
.form-control {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
  width: 100%;
  height: 39px;
  padding: 8px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #777777;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1; }

.form-control:-ms-input-placeholder {
  color: #999999; }

.form-control::-webkit-input-placeholder {
  color: #999999; }

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eeeeee;
  opacity: 1; }

.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed; }

textarea.form-control {
  height: auto; }

/* animation ng-repeat in mailbox 
easy customize animation from here : http://www.nganimate.org/angularjs/ng-repeat/yo-yo-css3-keyframes-animation*/
.animate-enter {
  -webkit-animation: enter 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation: enter 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  display: block;
  position: relative; }

@-webkit-keyframes enter {
  from {
    opacity: 0;
    height: 0px;
    left: -70px; }
  75% {
    left: 15px; }
  to {
    opacity: 1;
    height: 30px;
    left: 0px; } }

@keyframes enter {
  from {
    opacity: 0;
    height: 0px;
    left: -70px; }
  75% {
    left: 15px; }
  to {
    opacity: 1;
    height: 30px;
    left: 0px; } }

.animate-leave {
  -webkit-animation: leave 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation: leave 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  display: block;
  position: relative; }

@-webkit-keyframes leave {
  to {
    opacity: 0;
    height: 0px;
    left: -70px; }
  25% {
    left: 15px; }
  from {
    opacity: 1;
    height: 30px;
    left: 0px; } }

@keyframes leave {
  to {
    opacity: 0;
    height: 0px;
    left: -70px; }
  25% {
    left: 15px; }
  from {
    opacity: 1;
    height: 30px;
    left: 0px; } }

/* td table in myprofile */
.tdCommun, .td40, .td60 {
  height: 75px;
  vertical-align: none; }

.td40 {
  width: 40%; }

.td60 {
  width: 60%; }

.table-user-information > thead > tr > th,
.table-user-information > tbody > tr > th,
.table-user-information > tfoot > tr > th,
.table-user-information > thead > tr > td,
.table-user-information > tbody > tr > td,
.table-user-information > tfoot > tr > td {
  vertical-align: middle; }

/*=========================================================
   ANGULAR ANIMATIONS (in pair on animate.css)
===========================================================*/
/* animation on ng-switch */
.switchAngularFadeIn .ng-enter {
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
  animation: fadeIn 1s; }

/*=========================================================
   wfEdit
===========================================================*/
#pageWfEdit {
  margin-top: 40px;
  margin-/*    right:2%;
    left:2%; */
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #F2F2F2;
  /* border-top: solid 3px white;
  border-bottom: solid 3px white; */ }

.lineCommandButtons {
  padding-bottom: 25px; }

.addNewLine {
  font-size: 24px;
  vertical-align: middle;
  color: #666666; }

#editor {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 150px;
  background-color: #52B3D9;
  border-bottom: solid 1px #2C3E50; }

#editor-content {
  /* padding-top: 25px; */
  /* padding-bottom: 25px; */
  text-align: center;
  color: white;
  font-size: 13px; }

#preview {
  margin-top: 0px;
  margin-bottom: 0px;
  /* background-color: #E4F1FE; */
  border: solid 1 px #2C3E50;
  -moz-box-shadow: 0px 0px 10px 0px #ddd;
  -webkit-box-shadow: 0px 10px 5px 0px #ddd;
  -o-box-shadow: 0px 0px 10px 0px #ddd;
  box-shadow: 0px 0px 10px 0px #ddd;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#ddd, Direction=NaN, Strength=10); }

#preview-content {
  background-color: #FFF;
  padding-bottom: 25px;
  /*text-align: center;*/
  color: black;
  /*font-size: 13px;*/ }

#commandPanel {
  padding-top: 25px;
  padding-bottom: 25px; }

/*  #commandPanel.affix {
    position: fixed;
    top: 0;
    width:25%;
    margin-top: -45px;
  } */
#visualPanel {
  padding-top: 25px;
  padding-bottom: 25px; }

.customPagerButton {
  width: 145px;
  margin-left: 2px;
  margin-right: 2px; }

.numberOfColumnsLabel {
  font-size: 32px;
  text-align: center;
  padding-top: 25%;
  padding-bottom: 25%;
  font-weight: bold;
  text-align: center;
  color: #666666; }

.btnMinusColumns {
  margin-top: 10px; }

.btnAddColumns {
  margin-top: 10px; }

.numberOfcolumsText {
  color: #666666; }

.greyText {
  color: #666666; }

.blackText {
  color: #000; }

/*=========================================================
  ANIMATE NG-SWITCH
=========================================================*/
.animate-switch-container {
  position: relative;
  background: white;
  border-top: solid 1px #ECECEC;
  border-bottom: solid 1px #ECECEC;
  height: 750px;
  overflow: scroll; }
  .animate-switch-container .well {
    background-color: #89C4F4;
    margin-bottom: 0px;
    color: #ECECEC; }

.linesList {
  margin-top: 5px; }

/*switch 1 : move top*/
.animate-switch {
  padding: 10px; }

.animate-switch.ng-animate {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
  left: 0px;
  top: -500px;
  opacity: 0; }

.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
  left: 0px;
  top: 0px;
  opacity: 0.8; }

/*=========================================================
  STEP INDICATOR
=========================================================*/
.stepwizardTopmargin {
  margin-top: 25px; }

.stepwizard-step p {
  margin-top: 10px;
  color: #666666; }

.stepwizard-row {
  display: table-row; }

.stepwizard {
  display: table;
  width: 100%;
  position: relative; }

.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important; }

.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0; }

.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative; }

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px; }

.panelDebugScope {
  color: #000; }

/*=========================================================
  Modal add control
=========================================================*/
.texteRouge {
  color: #CF000F; }

.editPropertiesLabel {
  margin-top: 6px; }

.textControlLabel {
  color: #000; }

.marginTopFivepixels {
  margin-top: 5px; }

.marginTopTenpixels {
  margin-top: 5px; }

.checkboxCssCorrection {
  font-size: 4px; }

.noGroupText {
  margin-bottom: 0px; }

.nya-bs-select {
  margin-bottom: 16px; }

.ta-scroll-window {
  margin-bottom: 16px; }

.formly-field-checkbox {
  margin-top: 28px; }

#inputAddNewRadioOption {
  margin-bottom: 20px; }

#inputAddNewBasicOption {
  margin-bottom: 20px; }

#inputAddNewGroupedOption {
  margin-bottom: 20px; }

#inputAddNewGroupGroupedOption {
  margin-bottom: 20px; }

.editGroupedSelectnyaSelect {
  margin-bottom: 0px; }

/**
 * formly fiedl css
 */
.formly-field {
  margin-bottom: 20px; }

.validation {
  position: absolute;
  font-size: .8em;
  color: #a94442; }

.formly-template-wrapper {
  position: relative; }

.error-messages {
  position: relative; }

.error-messages, .message, .validation {
  opacity: 1;
  transition: .3s linear all; }

.message {
  font-size: .8em;
  position: absolute;
  width: 100%;
  color: #a94442;
  margin-top: 2px; }

.error-messages.ng-enter.ng-enter-active,
.message.ng-enter.ng-enter-active,
.validation.ng-enter.ng-enter-active {
  opacity: 1; }

.error-messages.ng-enter,
.message.ng-enter,
.validation.ng-enter {
  opacity: 0; }

.error-messages.ng-leave,
.message.ng-leave,
.validation.ng-leave {
  opacity: 1; }

.error-messages.ng-leave-active,
.message.ng-leave-active,
.validation.ng-leave-active {
  opacity: 0; }


/*=========================================================
    colors const
===========================================================*/
/*=========================================================
    fonts const
===========================================================*/
/*=========================================================
    common
===========================================================*/
