<div id="controlEditLeftPanel">
	<div class="pull-right">
		<button
      type="button"
      class="close"
      ng-click="leftPanelCtrl.closeEditPanel()"
      aria-label="Close">
			<span
        aria-hidden="true">
        &times;
      </span>
		</button>
	</div>
	<div class="separator10pixel"></div>
	<div ng-switch on="leftPanelCtrl.proxyModel.temporyConfig.selectedControl">
		<div ng-switch-when="none">
			<div class="row">
				<div class="col-sm-12">
					<h5 class="text-center texteRouge">
            <i class="fa fa-arrow-up"></i>
            &nbsp;
            Select a control
          </h5>
				</div>
			</div>
		</div>
		<div ng-switch-when="empty">
			<left-panel-blank-control />
		</div>
		<div ng-switch-when="Header">
			<leftPanelHeaderControl />
		</div>
		<div ng-switch-when="Subtitle">
			<leftPanelSubtitleControl />
		</div>
		<div ng-switch-when="TextInput">
			<leftPanelTextInputControl />
		</div>
		<div ng-switch-when="Password">
			<leftPanelPasswordControl />
		</div>
		<div ng-switch-when="Date">
			<leftPanelDateControl />
		</div>
		<div ng-switch-when="Texarea">
			<leftPanelTextareaControl />
		</div>
		<div ng-switch-when="RichTextEditor">
			<leftPanelRichTextEditorControl />
		</div>
		<div ng-switch-when="Radio">
			<leftPanelRadioControl />
		</div>
		<div ng-switch-when="Checkbox">
			<leftPanelCheckBoxControl />
		</div>
		<div ng-switch-when="BasicSelect">
			<leftPanelBasicSelectControl />
		</div>
		<div ng-switch-when="GroupedSelect">
			<leftPanelGroupedSelectControl />
		</div>
	</div>
	<button
    class="btn btn-primary btn-block pull-right"
    ng-click="leftPanelCtrl.closeEditPanel()">
    Close
  </button>
</div>
