<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <h5 class="greyText">
          <i class="fa fa-pencil-square-o"></i>
          &nbsp; Edit properties :
        </h5>
      </div>
    </div>
    <div class="marginTopFivepixels"></div>
    <div class="row">
      <div class="form-group">
       <div class="col-md-12">
        <label
          for="DescriptionUpdate"
          class="control-label greyText editPropertiesLabel">
          Description :
        </label>
        <div class="">
          <input
            type="text"
            class="form-control"
            ng-model="leftPanelCtrl.proxyModel.temporyConfig.formlyDescription"
            id="DescriptionUpdate"
            placeholder="Add / edit description here">
        </div>
       </div>
      </div>
    </div>
  </div>
  <left-panel-valid-edit-footer />
</div>
