<div class="easyFormViewer">
	<fieldset ng-disabled="vm.readOnly">
		<form ng-submit="vm.onSubmit()" name="vm.form">
			<formly-form model="edaEasyFormViewerDataModel" fields="vm.fields" form="vm.form">

				<div class="pull-right">
					<button type="submit" class="btn btn-primary" ng-disabled="vm.form.$invalid" ng-click="vm.edaSubmitThisDataModel();">{{vm.submitText}}</button>
					<button type="button" class="btn btn-primary" ng-click="vm.edaCancelEvent();">{{vm.cancelText}}</button>
				</div>

			</formly-form>
		</form>
	</fieldset>
</div>
