<div class="easyFormViewer">
	
	<form 	ng-submit="vm.onSubmit()"
					name="vm.form"> 
		<formly-form 	model="vm.model" 
									fields="vm.fields" 
									form="vm.form"> 
			
			<div class="pull-right">
				<button type="submit" class="btn btn-primary" 
								ng-disabled="vm.form.$invalid"
								ng-click="vm.edaSubmitThisDataModel();">{{vm.submitText}}</button>
				<button type="button" class="btn btn-primary" 
								ng-click="vm.edaCancelEvent();">{{vm.cancelText}}</button>				
			</div>						

		</formly-form> 
	</form>

</div>