
/*=========================================================
    colors const
===========================================================*/
$san-marino-color:#446CB3;     //-> blue color
$white-smoke-color:#ECECEC;   //-> grey/white color
$alice-blue-color:#E4F1FE;     //-> blue nearer white
$ebony-clay-color:#22313F;    //-> heavy dark blue
$ming-color :#336E7B;      //-> green
$california-color : #F89406;  //-> orange
$jordy-color: #89C4F4;       //-> blue (light)
$monza-color: #CF000F;      //-> red
$background-color-grey: #F2F2F2; //-> white grey


$panel-defaut-panel-heading-text-color:#212121;
$panel-defaut-panel-heading-background-color:#fff;//#eee;
$panel-defaut-panel-heading-border-color:#eee;//#fff;


/*=========================================================
    fonts const
===========================================================*/
$font-family-roboto:"Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;

$input-font-size:13px;

/*=========================================================
    common
===========================================================*/
$body-padding-top:50px;
$body-padding-bottom:20px;
$body-height:100%;
$body-backgrounf-color:#2C3E50;



$container-width:100%;
