<div ng-click="ddDecorContainerCtrl.collapseFct()">
   <h6
    ng-show="ddDecorContainerCtrl.config.isEnabled"
    class="ddDecorContainerCtrl.isCollapsableZone"
    style="cursor:pointer">
    <button class="btn btn-primary btn-xs">
      <span class="{{ddDecorContainerCtrl.currentIconClass()}}"></span>
    </button>
    &nbsp;
    {{ddDecorContainerCtrl.currentTitle}}
  </h6>
</div>
<div uib-collapse="ddDecorContainerCtrl.isCollapsed">
   <div id="ddDecorContainerWillTranscludeHere"></div>
</div>
