<section id="pageWfEdit">
	<div ng-init="">
		<div class="container">
			<section id="preview">
				<div id="preview-content">
					<div class="content-container">
						<!-- taoster alert -->
						<toaster-container
              toaster-options="{
  							'position-class': 'toast-top-full-width',
  							'extendedTimeout':500,
  							'timeOut':500,
  						}">
						</toaster-container>
						<uib-tabset justified="true">
						  <uib-tab
                active="vm.tab.editTab.active"
                heading="{{'EDIT_TAB' | translate}}">
								<div class="row">
                  <step-indicator
                    configuration="vm.configuration">
                  </step-indicator>
							  </div>
								<div class="row">

                  <pager
                    step-indicators="vm.stepIndicators"
                    next-config-step="vm.nextConfigStep()"
                    previous-config-step="vm.previousConfigStep()">
                  </pager>

									<div
                    class="animate-switch-container"
                    ng-switch on="vm.configuration.listConfigStep[vm.configuration.configStepCounter]">

                  <step-zero-content
                    configuration="vm.configuration"
                    addNewline="vm.addNewline()"
                    downThisLine="vm.downThisLine(index)"
                    upThisLine="vm.upThisLine(index)"
                    removeThisLine="vm.removeThisLine(index)">
                  </step-zero-content>

                  <step-one-content
                    configuration="vm.configuration"
                    increaseNumberOfColumns="vm.increaseNumberOfColumns()"
                    decreaseNumberOfColumns="vm.decreaseNumberOfColumns()"
                    setActiveLineNumberParent="vm.setActiveLineNumberParent(index)">
                  </step-one-content>

                  <step-two-content
                    configuration="vm.configuration"
                    setActiveLineNumber="vm.setActiveLineNumber(index)"
                    showModalAddCtrlToColumn="vm.showModalAddCtrlToColumn(size, indexLine, numcolumn)">
                  </step-two-content>

                <div class="animate-switch" ng-switch-when="third">
								  <div class="col-md-4">
										<div id="commandPanel">
												<div  class="panel panel-default">
													<div class="panel-heading">
														<h3 class="panel-title"><i class="fa fa-keyboard-o"></i>&nbsp;{{'COMMAND_PANEL' | translate}}</h3>
													</div>
													<div class="panel-body">
														<div class="row">
															<div class="col-xs-12">
																<div class="form-group">
																	<label for="inputSubmitButtontext" class=" greyText control-label">{{'CUSTOM_SUBMIT_BTN' | translate}} :</label>
																	<div class="">
																		<input type="text" class="form-control" id="inputSubmitButtontext" placeholder="" ng-model="vm.configuration.submitButtonText">
																	</div>
																</div>
															</div>
														</div>
														<hr/>
														<div class="row">
															<div class="col-xs-12">
																<div class="form-group">
																	<label for="inputCancelButtontext" class=" greyText control-label">{{'CUSTOM_CANCEL_BTN' | translate}} :</label>
																	<div class="">
																		<input type="text" class="form-control" id="inputCancelButtontext" placeholder="" ng-model="vm.configuration.cancelButtonText">
																	</div>
																</div>
															</div>
														</div>
														<hr/>
														<div class="row">
															<div class="col-xs-12">
																<div class="form-group">
																	<label for="inputNameFormtext" class=" greyText control-label">{{'NAME_THIS_FORM' | translate}} :</label>
																	<div class="">
																		<input type="text" class="form-control" id="inputNameFormtext" placeholder="" ng-model="vm.configuration.formName">
																	</div>
																</div>
															</div>
														</div>
														<button class="btn btn-primary btn-block btn-lg" ng-click="vm.saveThisForm()">{{'SAVE_THIS_FORM' | translate}}</button>
													</div>
												</div>
											</div>
											</div>
											<div class="col-md-8">
												<div id="visualPanel">
												<div  class="panel panel-default">
													<div class="panel-heading">
														<h3 class="panel-title"><i class="fa fa-thumbs-o-up"></i>&nbsp;{{'FINAL_STEP' | translate}}</h3>
													</div>
													<div class="panel-body">
													<form ng-submit="vm.onSubmit()">
														<formly-form id="saveFormlyFom" model="vm.dataModel" fields="vm.wfFormFields">
															<span class="pull-right">
															<button class="btn btn-primary" type="submit">{{vm.configuration.submitButtonText}}</button>
															<button class="btn btn-primary" type="cancel">{{vm.configuration.cancelButtonText}}</button>
															</span>
														</formly-form>
													</form>
													</div>
												</div>
											</div>
											</div>
								</div>
							</div>

                </div>
							</uib-tab>

							<uib-tab active="vm.tab.previewTab.active" ng-if="vm.tab.previewTab.tabVisible" heading="{{'PREVIEW_TAB' | translate}}">
							<div class="panel panel-default">
								<div class="panel-body">
									<!-- formly here -->
									<form ng-submit="vm.onSubmit()">
										<formly-form id="previewFormlyForm" model="vm.dataModel" fields="vm.wfFormFields">
										<span class="pull-right">
											<button class="btn btn-primary" type="submit">{{vm.configuration.submitButtonText}}</button>
											<button class="btn btn-primary" type="cancel">{{vm.configuration.cancelButtonText}}</button>
											</span>
										</formly-form>
									</form>
								</div>
							</div>
							<div ng-if="vm.tab.previewTab.modelsVisible" class="panel panel-default">
								<div class="panel-body">
									<p>{{'DATA_MODEL' | translate}}</p>
									<pre>
										{{vm.dataModel | json}}
									</pre>
								</div>
							</div>
							<div ng-if="vm.tab.previewTab.modelsVisible" class="panel panel-default">
								<div class="panel-body">
									<p>{{'FIELDS_MODEL' | translate}}</p>
									<pre>
										{{vm.wfFormFieldsOnlyNeededProperties | json}}
									</pre>
								</div>
							</div>
							</uib-tab>
						</uib-tabset>
					</div>
				</div>
			</section>
			<hr/>
			<!--<section>
				<h6 class="text-right">Easy form generator : {{vm.easyFormGeneratorVERSION}} — Erwan DATIN (MacKentoch)</h6>
			</section>-->
		</div>
	</div>
</section>
