<section id="pageWfEdit">
	<div ng-init="">
		<div class="container">
			<section id="preview">
				<div id="preview-content">
					<div class="content-container">
						<!-- taoster alert -->
						<toaster-container
              toaster-options="{
  							'position-class': 'toast-top-full-width',
  							'extendedTimeout':500,
  							'timeOut':500,
  						}">
						</toaster-container>
						<uib-tabset justified="true">
						  <uib-tab
                active="vm.tab.editTab.active"
                heading="{{'EDIT_TAB' | translate}}">
								<div class="row">
                  <step-indicator
                    configuration="vm.configuration">
                  </step-indicator>
							  </div>
								<div class="row">

								  <ul class="pager">
  									<li ng-class="{'disabled':vm.stepIndicators[0]}">
  										<button class="btn btn-primary customPagerButton" ng-click="vm.previousConfigStep()" >
  											<i class="fa fa-arrow-left fa-2x pull-left"></i>
  											<span class="pull-right">{{'PAGER_PREVIOUS' | translate}}</span>
  										</button>
  									</li>
  									<li ng-class="{'disabled':vm.stepIndicators[3]}">
  										<button class="btn btn-primary customPagerButton" ng-click="vm.nextConfigStep()">
  											<span class="pull-left">{{'PAGER_NEXT' | translate}}</span>
  											<i class="fa fa-arrow-right fa-2x pull-right"></i>
  										</button>
  									</li>
  								</ul>

									<div class="animate-switch-container" ng-switch on="vm.configuration.listConfigStep[vm.configuration.configStepCounter]">

                  <div class="animate-switch" ng-switch-when="init">
										<div class="col-md-4" >
											<div id="commandPanel">
												<div  class="panel panel-default">
													<div class="panel-heading">
														<h3 class="panel-title"><i class="fa fa-keyboard-o"></i>&nbsp;{{'COMMAND_PANEL' | translate}}</h3>
													</div>
													<div class="panel-body">
														<div class="row">
															<div class="col-md-12">
																<span class="addNewLine">{{'ADD_NEW_LINE' | translate}} :</span>&nbsp;
																<button class="btn btn-primary" ng-click="vm.addNewline()"><i class="fa fa-plus fa-1x"></i></button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-8">
											<div id="visualPanel">
												<div  class="panel panel-default">
													<div class="panel-heading">
														<h3 class="panel-title"><i class="fa fa-eye"></i>&nbsp;{{'VISUAL_PANEL' | translate}}</h3>
													</div>
													<div class="panel-body">
															<!-- lines -->
														<ul class="list-group">
															<li class="list-group-item" ng-repeat="line in vm.configuration.lines track by $index">
																	<!-- columns -->
																	<div ng-switch on="line.columns.length">
																		<div class="row linesList" ng-switch-when="1">
																			<div class="col-md-12 lineCommandButtons" ng-show="vm.configuration.lines.length > 1">
																				<button class="btn btn-warning" ng-hide="$index==0" ng-click="vm.upThisLine($index)"><i class="fa fa-arrow-up"></i></button>
																				<button class="btn btn-warning" ng-hide="$index==(vm.configuration.lines.length-1)" ng-click="vm.downThisLine($index)"><i class="fa fa-arrow-down"></i></button>
																				<button class="btn btn-danger pull-right" ng-click="vm.removeThisLine($index)"><i class="fa fa-trash-o"></i></button>
																			</div>
																			<div class="col-md-12">
																				<div class="col-md-12 well">
																					<button class="btn btn-lg btn-block  btn-default disabled">
																							{{line.columns[0].control.type !== 'none'  ? line.columns[0].control.type + ' ' + line.columns[0].control.subtype || '' : 'column 1'}}
																					</button>
																				</div>
																			</div>
																		</div>
																		<div class="row linesList" ng-switch-when="2">
																			<div class="col-md-12 lineCommandButtons" ng-show="vm.configuration.lines.length > 1">
																				<button class="btn btn-warning" ng-hide="$index==0" ng-click="vm.upThisLine($index)"><i class="fa fa-arrow-up"></i></button>
																				<button class="btn btn-warning" ng-hide="$index==(vm.configuration.lines.length-1)" ng-click="vm.downThisLine($index)"><i class="fa fa-arrow-down"></i></button>
																				<button class="btn btn-danger pull-right" ng-click="vm.removeThisLine($index)"><i class="fa fa-trash-o"></i></button>
																			</div>
																			<div class="col-md-12">
																				<div class="col-md-6 well">
																					<button class="btn btn-lg btn-block  btn-default disabled">
																							{{line.columns[0].control.type !== 'none'  ? line.columns[0].control.type + ' ' + line.columns[0].control.subtype || '' : 'column 1'}}
																					</button>
																				</div>
																				<div class="col-md-6 well">
																					<button class="btn btn-lg btn-block  btn-default disabled">
																							{{line.columns[1].control.type !== 'none'  ? line.columns[1].control.type + ' ' + line.columns[1].control.subtype || '' : 'column 2'}}
																					</button>
																				</div>
																			</div>
																		</div>
																		<div class="row linesList" ng-switch-when="3">
																			<div class="col-md-12 lineCommandButtons" ng-show="vm.configuration.lines.length > 1">
																				<button class="btn btn-warning" ng-hide="$index==0" ng-click="vm.upThisLine($index)"><i class="fa fa-arrow-up"></i></button>
																				<button class="btn btn-warning" ng-hide="$index==(vm.configuration.lines.length-1)" ng-click="vm.downThisLine($index)"><i class="fa fa-arrow-down"></i></button>
																				<button class="btn btn-danger pull-right" ng-click="vm.removeThisLine($index)"><i class="fa fa-trash-o"></i></button>
																			</div>
																			<div class="col-md-12">
																				<div class="col-md-4 well">
																					<button class="btn btn-lg btn-block  btn-default disabled">
																							{{line.columns[0].control.type !== 'none'  ? line.columns[0].control.type + ' ' + line.columns[0].control.subtype || '' : 'column 1'}}
																					</button>
																				</div>
																				<div class="col-md-4 well">
																					<button class="btn btn-lg btn-block  btn-default disabled">
																						{{line.columns[1].control.type !== 'none'  ? line.columns[1].control.type + ' ' + line.columns[1].control.subtype || '' : 'column 2'}}
																					</button>
																			</div>
																			<div class="col-md-4 well">
																				<button class="btn btn-lg btn-block  btn-default disabled">
																					{{line.columns[2].control.type !== 'none'  ? line.columns[2].control.type + ' ' + line.columns[2].control.subtype || '' : 'column 3'}}
																				</button>
																			</div>
																		</div>
																	</div>
																</div>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
								  </div>

                  <step-one-content
                    configuration="vm.configuration"
                    increaseNumberOfColumns="vm.increaseNumberOfColumns()"
                    decreaseNumberOfColumns="vm.decreaseNumberOfColumns()"
                    setActiveLineNumberParent="vm.setActiveLineNumberParent(index)">
                  </step-one-content>

									<div
                    class="animate-switch"
                    ng-switch-when="second">
										<div class="col-md-4">
											<div id="commandPanel">
												<div  class="panel panel-default">
													<div class="panel-heading">
														<h3 class="panel-title">
                              <i class="fa fa-keyboard-o"></i>
                              &nbsp;
                              {{'COMMAND_PANEL' | translate}}
                            </h3>
													</div>
													<div class="panel-body">
														<div class="row">
															<div class="col-md-12">
																<h4 class="numberOfcolumsText text-center">
                                  - {{'APPLY_CTRL2COL' | translate}} -
                                </h4>
															</div>
														</div>
														<div class="row">
														  <div class="col-lg-12" >
																<hr/>
																<blockquote>
                                  <p class="numberOfcolumsText">
                                    <i class="fa fa-minus"></i>
                                    &nbsp;
                                    {{'CLIC_TAP_2_OPEN' | translate}}.
                                  </p>
																  <p class="numberOfcolumsText">
                                    <i class="fa fa-minus"></i>
                                    &nbsp;
                                    {{'SELECT_2_APPLY_COL' | translate}}.
                                  </p>
															</blockquote>
															</div>
														</div>
													</div>
												</div>
										  </div>
									  </div>

									<div class="col-md-8">
  									<div id="visualPanel">
                      <div class="panel panel-default">
  										<div class="panel-heading">
  											<h3 class="panel-title">
                          <i class="fa fa-eye"></i>
                          &nbsp;
                          {{'VISUAL_PANEL' | translate}}
                        </h3>
  										</h3>
  										</div>
  										<div class="panel-body">
  												<!-- lines / columns -->
  											<ul class="list-group">
  												<li
                            class="list-group-item"
                            ng-repeat="line in vm.configuration.lines track by $index">
  														<!-- columns -->
  														<div ng-switch on="line.columns.length">
  															<div
                                  class="row linesList"
                                  ng-switch-when="1">
  																<div
                                    class="col-md-12 lineCommandButtons"
                                    ng-show="vm.configuration.lines.length > 1">
  																	<button
                                      class="btn"
                                      ng-class="{'btn-warning':($index + 1) !== vm.configuration.activeLine, 'btn-success': ($index + 1) === vm.configuration.activeLine}"
                                      ng-click="vm.setActiveLineNumber($index + 1)">
  																		<i
                                        class="fa"
                                        ng-class="{'fa-square-o': ($index + 1) !== vm.configuration.activeLine, 'fa-check-square-o': ($index + 1) === vm.configuration.activeLine}">
                                      </i>
  																	</button>
  																</div>
  																<div class="col-md-12">
  																	<div class="col-md-12 well">
  																		<button
                                        class="btn btn-lg btn-block"
                                        ng-class="{'btn-primary': !line.columns[0].control.edited, 'btn-success': line.columns[0].control.edited}"
                                        ng-click="vm.showModalAddCtrlToColumn('', $index, 0)">
  																			{{line.columns[0].control.type !== 'none'  ? line.columns[0].control.type + ' ' + line.columns[0].control.subtype || '' : 'column 1'}}
  																		</button>
  																	</div>
  																</div>
  															</div>
  															<div
                                  class="row linesList"
                                  ng-switch-when="2">
  																<div
                                    class="col-md-12 lineCommandButtons"
                                    ng-show="vm.configuration.lines.length > 1">
																		<button
                                      class="btn"
                                      ng-class="{'btn-warning':($index + 1) !== vm.configuration.activeLine, 'btn-success': ($index + 1) === vm.configuration.activeLine}"
                                      ng-click="vm.setActiveLineNumber($index + 1)">
																			<i
                                        class="fa"
                                        ng-class="{'fa-square-o': ($index + 1) !== vm.configuration.activeLine, 'fa-check-square-o': ($index + 1) === vm.configuration.activeLine}">
                                      </i>
																		</button>
  																</div>
  																<div class="col-md-12">
  																	<div class="col-md-6 well">
  																		<button
                                        class="btn btn-lg btn-block"
                                        ng-class="{'btn-primary': !line.columns[0].control.edited, 'btn-success': line.columns[0].control.edited}"
                                        ng-click="vm.showModalAddCtrlToColumn('', $index, 0)">
  																		  {{line.columns[0].control.type !== 'none'  ? line.columns[0].control.type + ' ' + line.columns[0].control.subtype || '' : 'column 1'}}
  																		</button>
  																	</div>
  																	<div class="col-md-6 well">
  																		<button
                                        class="btn btn-lg btn-block"
                                        ng-class="{'btn-primary': !line.columns[1].control.edited, 'btn-success': line.columns[1].control.edited}"
                                        ng-click="vm.showModalAddCtrlToColumn('', $index, 1)">
  																		  {{line.columns[1].control.type !== 'none'  ? line.columns[1].control.type + ' ' + line.columns[1].control.subtype || '' : 'column 2'}}
  																		</button>
  																	</div>
  																</div>
  															</div>
  															<div
                                  class="row linesList"
                                  ng-switch-when="3">
  																<div
                                    class="col-md-12 lineCommandButtons"
                                    ng-show="vm.configuration.lines.length > 1">
																		<button
                                      class="btn"
                                      ng-class="{'btn-warning':($index + 1) !== vm.configuration.activeLine, 'btn-success': ($index + 1) === vm.configuration.activeLine}"
                                      ng-click="vm.setActiveLineNumber($index + 1)">
																			<i
                                        class="fa"
                                        ng-class="{'fa-square-o': ($index + 1) !== vm.configuration.activeLine, 'fa-check-square-o': ($index + 1) === vm.configuration.activeLine}">
                                      </i>
																		</button>
  																</div>
  																<div class="col-md-12">
  																	<div class="col-md-4 well">
  																		<button
                                        class="btn btn-lg btn-block"
                                        ng-class="{'btn-primary': !line.columns[0].control.edited, 'btn-success': line.columns[0].control.edited}"
                                        ng-click="vm.showModalAddCtrlToColumn('', $index, 0)">
  																			{{line.columns[0].control.type !== 'none'  ? line.columns[0].control.type + ' ' + line.columns[0].control.subtype || '' : 'column 1'}}
  																		</button>
  																	</div>
  																	<div class="col-md-4 well">
  																		<button
                                        class="btn btn-lg btn-block"
                                        ng-class="{'btn-primary': !line.columns[1].control.edited, 'btn-success': line.columns[1].control.edited}"
                                        ng-click="vm.showModalAddCtrlToColumn('', $index, 1)">
  																		  {{line.columns[1].control.type !== 'none'  ? line.columns[1].control.type + ' ' + line.columns[1].control.subtype || '' : 'column 2'}}
  																		</button>
  																	</div>
  																	<div class="col-md-4 well">
  																		<button
                                        class="btn btn-lg btn-block"
                                        ng-class="{'btn-primary': !line.columns[2].control.edited, 'btn-success': line.columns[2].control.edited}"
                                        ng-click="vm.showModalAddCtrlToColumn('', $index, 2)">
  																		  {{line.columns[2].control.type !== 'none'  ? line.columns[2].control.type + ' ' + line.columns[2].control.subtype || '' : 'column 3'}}
  																		</button>
  																	</div>
  																</div>
  															</div>
  													  </div>
  												  </li>
  											  </ul>
  										  </div>
  									  </div>
  								  </div>
									</div>
								</div>

                <div class="animate-switch" ng-switch-when="third">
											<div class="col-md-4">
													<div id="commandPanel">
												<div  class="panel panel-default">
													<div class="panel-heading">
														<h3 class="panel-title"><i class="fa fa-keyboard-o"></i>&nbsp;{{'COMMAND_PANEL' | translate}}</h3>
													</div>
													<div class="panel-body">
														<div class="row">
															<div class="col-xs-12">
																<div class="form-group">
																	<label for="inputSubmitButtontext" class=" greyText control-label">{{'CUSTOM_SUBMIT_BTN' | translate}} :</label>
																	<div class="">
																		<input type="text" class="form-control" id="inputSubmitButtontext" placeholder="" ng-model="vm.configuration.submitButtonText">
																	</div>
																</div>
															</div>
														</div>
														<hr/>
														<div class="row">
															<div class="col-xs-12">
																<div class="form-group">
																	<label for="inputCancelButtontext" class=" greyText control-label">{{'CUSTOM_CANCEL_BTN' | translate}} :</label>
																	<div class="">
																		<input type="text" class="form-control" id="inputCancelButtontext" placeholder="" ng-model="vm.configuration.cancelButtonText">
																	</div>
																</div>
															</div>
														</div>
														<hr/>
														<div class="row">
															<div class="col-xs-12">
																<div class="form-group">
																	<label for="inputNameFormtext" class=" greyText control-label">{{'NAME_THIS_FORM' | translate}} :</label>
																	<div class="">
																		<input type="text" class="form-control" id="inputNameFormtext" placeholder="" ng-model="vm.configuration.formName">
																	</div>
																</div>
															</div>
														</div>
														<button class="btn btn-primary btn-block btn-lg" ng-click="vm.saveThisForm()">{{'SAVE_THIS_FORM' | translate}}</button>
													</div>
												</div>
											</div>
											</div>
											<div class="col-md-8">
												<div id="visualPanel">
												<div  class="panel panel-default">
													<div class="panel-heading">
														<h3 class="panel-title"><i class="fa fa-thumbs-o-up"></i>&nbsp;{{'FINAL_STEP' | translate}}</h3>
													</div>
													<div class="panel-body">
													<form ng-submit="vm.onSubmit()">
														<formly-form id="saveFormlyFom" model="vm.dataModel" fields="vm.wfFormFields">
															<span class="pull-right">
															<button class="btn btn-primary" type="submit">{{vm.configuration.submitButtonText}}</button>
															<button class="btn btn-primary" type="cancel">{{vm.configuration.cancelButtonText}}</button>
															</span>
														</formly-form>
													</form>
													</div>
												</div>
											</div>
											</div>
								</div>
							</div>

                </div>
							</uib-tab>

							<uib-tab active="vm.tab.previewTab.active" ng-if="vm.tab.previewTab.tabVisible" heading="{{'PREVIEW_TAB' | translate}}">
							<div class="panel panel-default">
								<div class="panel-body">
									<!-- formly here -->
									<form ng-submit="vm.onSubmit()">
										<formly-form id="previewFormlyForm" model="vm.dataModel" fields="vm.wfFormFields">
										<span class="pull-right">
											<button class="btn btn-primary" type="submit">{{vm.configuration.submitButtonText}}</button>
											<button class="btn btn-primary" type="cancel">{{vm.configuration.cancelButtonText}}</button>
											</span>
										</formly-form>
									</form>
								</div>
							</div>
							<div ng-if="vm.tab.previewTab.modelsVisible" class="panel panel-default">
								<div class="panel-body">
									<p>{{'DATA_MODEL' | translate}}</p>
									<pre>
										{{vm.dataModel | json}}
									</pre>
								</div>
							</div>
							<div ng-if="vm.tab.previewTab.modelsVisible" class="panel panel-default">
								<div class="panel-body">
									<p>{{'FIELDS_MODEL' | translate}}</p>
									<pre>
										{{vm.wfFormFieldsOnlyNeededProperties | json}}
									</pre>
								</div>
							</div>
							</uib-tab>
						</uib-tabset>
					</div>
				</div>
			</section>
			<hr/>
			<!--<section>
				<h6 class="text-right">Easy form generator : {{vm.easyFormGeneratorVERSION}} — Erwan DATIN (MacKentoch)</h6>
			</section>-->
		</div>
	</div>
</section>
