<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <h5 class="greyText">
          <i class="fa fa-pencil-square-o"></i>
          &nbsp;
          Edit properties :
        </h5>
      </div>
    </div>
    <div class="marginTopFivepixels"></div>
    <div class="row">
      <div class="form-group">
       <div class="col-md-12">
        <label
          for="inputTextLabelUpdate"
          class=" control-label greyText editPropertiesLabel">
          Label text :
          </label>
        <div class="">
          <input
            type="text"
            class="form-control"
            ng-model="leftPanelCtrl.proxyModel.temporyConfig.formlyLabel"
            id="inputTextLabelUpdate"
            placeholder="Add / edit control label here">
        </div>
       </div>
      </div>
    </div>
    <div class="marginTopFivepixels"></div>
    <div class="row">
      <div class="form-group">
       <div class="col-md-12">
        <label
          for="inputTextplaceholderUpdate"
          class="control-label greyText editPropertiesLabel">
          placeholder :
        </label>
        <div class="">
          <input
            type="text"
            class="form-control"
            ng-model="leftPanelCtrl.proxyModel.temporyConfig.formlyPlaceholder"
            id="inputTextplaceholderUpdate"
            placeholder="Add / edit placeholder text here">
        </div>
       </div>
      </div>
    </div>
    <div class="marginTopFivepixels"></div>
    <div class="row">
      <div class="form-group">
       <div class="">
        <label
          for="inputTextRequiredUpdate"
          class="col-md-4 control-label greyText editPropertiesLabel">
          Required :
        </label>
        <div class="col-md-8">
          <div class="checkboxCssCorrection">&nbsp;</div>
          <input
            type="checkbox"
            ng-model="leftPanelCtrl.proxyModel.temporyConfig.formlyRequired"
            id="inputTextRequiredUpdate">
        </div>
       </div>
      </div>
    </div>
    <div class="marginTopFivepixels"></div>
    <div class="row">
      <div class="form-group">
       <div class="col-md-12">
        <label
          for="inputTextDescriptionUpdate"
          class="control-label greyText editPropertiesLabel">
          Description :
        </label>
        <div class="">
          <input
            type="text" 
            class="form-control"
            ng-model="leftPanelCtrl.proxyModel.temporyConfig.formlyDescription"
            id="inputTextDescriptionUpdate"
            placeholder="Add / edit description here">
        </div>
       </div>
      </div>
    </div>
  </div>
  <left-panel-valid-edit-footer />
</div>
