<div class="{{styleParam.ApplycssClass}}">
  <div id="visualPanel">
    <div  class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="{{currentFontAwesome}}"></i>&nbsp;
          {{currentTitle}}
           <div ng-show="headerConfig.HeaderButtonVisible">
             <button
              class="btn btn-primary btn-xs buttonHeaderAddNewLine center-block"
              ng-click="addNewLineFct();">
               <span class="glyphicon glyphicon-plus"></span>
               &nbsp;
               add new line
             </button>
           </div>
        </h3>
      </div>
      <div class="panel-body">
         <div class="row">
            <div class="col-md-12" ng-transclude>
            </div>
         </div>
      </div>
    </div>
   </div>
</div>
